<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>User:</strong>
  <%= @collaborator.user %>
</p>

<p>
  <strong>Wiki:</strong>
  <%= @collaborator.wiki %>
</p>

<%= link_to 'Edit', edit_collaborator_path(@collaborator) %>