<br/>
<h1>Surfipedia: Social, Markdown Wikis</h1>
<div class="jumbotron">
  <p>Create and share Markdown Wikis.</p>
  <p>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      <%= link_to "Plans", new_subscription_path %>
  </p>
</div>

<div class="col-md-6">
  <p>Create as many public wikis as you want!</p>
 </div>

  <div class="col-md-6">
    <p>Create private wikis!</p>

</div>