<% if user_signed_in? %>
  <ul>
    <%= render @wikis %>
    <%= will_paginate @wikis %>
  </ul>

<% else %>

<div class="jumbotron">
  <h1 class="center-header">Surfipedia</h1>
  <h2 class="center-header">Social, Markdown Wikis</h2>
  <br>
  <div class="row">
    <div class="col-md-5">
      <h3>Free Account</h3>
      <ul>
        <li>Create public wikis</li>
        <li>Add up to ## collaborators to your wikis</li>
      </ul>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <h3>Premium Account</h3>
      <ul>
        <li>Create public or private wikis</li>
        <li>Add unlimited collaborators to your wikis</li>
      <ul>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>


